<div>
  <p><strong>Products</strong></p>
  <ul>
    <li><a href="/equipment">Equipment</a></li>
    <li><a href="/power-systems">Power Systems</a></li>
    <li><a href="/attachments">Attachments</a></li>
    <li><a href="/rental-equipment">Cat Rental Equipment</a></li>
    <li><a href="/used-equipment">Cat Used Equipment</a></li>
  </ul>
  <p><strong>Finance</strong></p>
  <ul>
    <li><a href="/offers">Limited Time Offers</a></li>
    <li><a href="/cat-financial">Leases &amp; Loans</a></li>
    <li><a href="/cat-card">Cat Card</a></li>
    <li><a href="https://www.cat.com/en_US/support/financing-protection.html">MyCatFinancial</a></li>
  </ul>
  <p><strong>Support</strong></p>
  <ul>
    <li><a href="/maintenance">Maintenance</a></li>
    <li><a href="https://www.cat.com/en_US/support/technology.html">Technology Kits &amp; Software</a></li>
    <li><a href="/cat-training">Training</a></li>
    <li><a href="https://www.cat.com/en_US/support/jobsite-consultation.html">Job Site Consultation</a></li>
  </ul>
  <p><strong>Company</strong></p>
  <ul>
    <li><a href="/about">About Us</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="https://www.caterpillar.com/en/company/sustainability.html">Sustainability</a></li>
    <li><a href="https://www.caterpillar.com/en/news/corporate-press-releases.html">Corporate Press Releases</a></li>
    <li><a href="https://www.caterpillar.com/en/investors.html">Investors</a></li>
    <li><a href="https://www.caterpillar.com/en/company/caterpillar-foundation.html">Caterpillar Foundation</a></li>
  </ul>
  <p><strong>Buying Tools</strong></p>
  <ul>
    <li><a href="https://www.cat.com/en_US/support/dealer-locator.html">Find Dealer</a></li>
    <li><a href="https://parts.cat.com">Buy Parts</a></li>
    <li><a href="https://parts.cat.com/en/catcorp/attachments">Buy Attachments</a></li>
    <li><a href="https://parts.cat.com/en/catcorp/manuals">Buy Manuals</a></li>
    <li><a href="https://www.shopcaterpillar.com">Shop Merchandise</a></li>
    <li><a href="https://www.catfootwear.com">Shop Footwear</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="https://www.caterpillar.com">Caterpillar.com</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/sitemap">Site Map</a></li>
    <li><a href="/legal">Legal</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="https://www.caterpillar.com/en/legal-notices/do-not-sell.html">Do Not Sell or Share My Personal Information</a></li>
  </ul>
  <p>© 2024 Caterpillar. All Rights Reserved.</p>
</div>
