<div>
  <p><a href="https://www.cat.com">Cat.com</a></p>
  <p>21230 N. Black Canyon Hwy, Phoenix, AZ 85027</p>
  <ul>
    <li>Service: (623) 760-1100</li>
    <li>Parts: (623) 760-1100</li>
    <li>Sales: (623) 760-1100</li>
  </ul>
</div>
<div>
  <p>
    <picture>
      <img loading="eager" alt="DEALER CAT" src="/images/dealer-logo.png" width="213" height="77">
    </picture>
  </p>
  <ul>
    <li>
      <p><a href="/equipment">Equipment</a></p>
      <ul>
        <li><a href="/new-equipment">New Equipment</a></li>
        <li><a href="/used-equipment">Used Equipment</a></li>
        <li><a href="/rental-equipment">Rental Equipment</a></li>
        <li><a href="/power-systems">Power Systems</a></li>
        <li><a href="/attachments">Attachments</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/parts">Parts</a></p>
      <ul>
        <li><a href="/parts/shop">Shop Parts</a></li>
        <li><a href="/parts/specials">Parts Specials</a></li>
        <li><a href="/parts/cat-reman">Cat Reman</a></li>
        <li><a href="/parts/ground-engaging-tools">Ground Engaging Tools</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/service">Service</a></p>
      <ul>
        <li><a href="/service/request">Service Request</a></li>
        <li><a href="/service/maintenance">Maintenance Plans</a></li>
        <li><a href="/service/rebuilds">Rebuilds &amp; Upgrades</a></li>
        <li><a href="/service/technology">Technology Solutions</a></li>
      </ul>
    </li>
    <li><p><a href="/offers">Offers</a></p></li>
    <li>
      <p><a href="/about">About Us</a></p>
      <ul>
        <li><a href="/about/story">Our Story</a></li>
        <li><a href="/about/locations">Locations</a></li>
        <li><a href="/about/contact">Contact Us</a></li>
      </ul>
    </li>
    <li><p><a href="/careers">Careers</a></p></li>
  </ul>
</div>
